* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  padding: 1% 0%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#root {
  display: flex;
}

.relative {
  position: relative;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.none {
  display: none;
}

.wrapper {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-10 {
  width: 10%;
}

.h-100 {
  height: 100%;
}

.h-95 {
  height: 95%;
}

.h-90 {
  height: 90%;
}

.form-errors-list {
  font-size: 11px;
  color: #e33131;
}

.activation-text {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
  line-height: 2em;
  font-size: 20px;
}

.events-counter {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  height: 125px;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 5%;
  box-shadow: 5px 5px #ccc;
}

.user-img {
  width: 100px;
  border-radius: 50%;
}
