button {
  border: none;
  background: transparent;
}

.btn {
  /* width: 150px; */
  padding: 10px;
  border-radius: 5px;
  /* background-color: #3e5c76; */
  background-color: #425a77;
  color: #fff;
  font-weight: bold;
  /* width: 100%; */
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
  background-color: #5f7188;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.add-company-btn {
  font-size: 14px;
}

.trash {
  font-size: 18px;
  color: #3e5c76;
  cursor: pointer;
}

.trash:hover {
  color: #ff595e;
}

.dropdown-button {
  color: fff;
  font-weight: normal;
  border-radius: 0;
}

.cancel-btn {
  background-color: #fc7169;
}

.cancel-btn:hover {
  background-color: #ffa69e;
  color: #aa181d;
}

.confirm-btn:hover {
  background-color: #b5e48c;
  color: #137a2a;
}

.account {
  font-size: 28px;
  color: #fff;
}

.no-btn {
  background-color: #b6bece;
}
