.show {
  opacity: 1 !important;
  visibility: visible !important;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 110px;
  background-color: #fff;
  right: -100%;
  top: 40px;
  border: 1px solid #717171;
  transition: opacity 0.1s linear;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content::before {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 58%;
  background-color: #fff;
  transform: rotate(45deg);
  content: "";
  top: -6px;
  border-left: 1px solid #717171;
  border-top: 1px solid #717171;
}

.dropdown-item {
  margin: 10px;
}

.dropdown-item a {
  color: rgb(62, 92, 118);
}

.dropdown-item a:hover {
  color: #0d1321;
}

.dropdown-content-event {
  width: 226px;
  right: 0;
  top: 50px;
}

.dropdown-content-event::before {
  left: 48%;
}

.dropdown-content-event p {
  padding: 20px;
}
