.pagination-item {
  align-items: center;
  border-radius: 16px;
  display: flex;
  font-size: 13px;
  height: 32px;
  letter-spacing: 0.01071em;
  margin: auto 4px;
  min-width: 32px;
  text-align: center;
  justify-content: center;
}

.pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

/* .pagination-item:selected {
  background-color: rgba(0, 0, 0, 0.08);
} */

.arrow::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.arrow.left::before {
  left: 2px;
}

.arrow.right::before {
  right: 1px;
}

.left {
  transform: rotate(-135deg) translate(-50%);
}

.right {
  transform: rotate(45deg);
}

.selected {
  border: 1px solid #425a77;
}

.disabled {
  pointer-events: none;
}

.disabled.arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.disabled:hover {
  background-color: transparent;
  cursor: default;
}
